description = "Home page Header partial"
==
{##}
<div class="hero-body">
  <div class="container has-text-centered">
    <div class="columns is-vcentered">
      <div class="column is-5">
        <figure class="image is-4by3">
          <!-- <img src="https://source.unsplash.com/800x600?tech,design" class="home-page-header-promo-img" alt="{{ this.page.title }}"> -->
        </figure>
      </div>
      <div class="column is-6 is-offset-1">
        <h1 class="title is-2 wow fadeInUp">
          Built for developpers
        </h1>
        <h2 class="subtitle is-4 wow fadeInUp" data-wow-delay="1s">
          Best boilerplate with Bulma.io, Vuejs.org &amp; Webpack
        </h2>
        <br>
        <div class="field has-addons wow fadeInRightBig" data-wow-delay="2s">
          <div class="control is-expanded">
          <input class="input is-large" type="text" placeholder="Join the newsletter, you@example.org">
          </div>
          <div class="control">
            <a class="button is-large is-primary">
              Sign Up
            </a>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="hero-foot">
  <div class="container has-text-centered">
      <a id="ct-btn-scroll" href="#scrollDown">
        <span class="icon is-large animated bounce">
          <i class="fa fa-angle-double-down" aria-hidden="true"></i>
        </span>
      </a>
  </div>
</div>
