description = "Home page body partial"
==
<section class="section is-medium" id="scrollDown">
  <div class="container has-text-centered">
    <span class="icon is-large hero-icon extra-large">
      <i class="fa fa-eercast wow zoomInDown" data-wow-delay="1.2s"></i>
    </span>
    <h2 class="title is-3 is-spaced wow slideInLeft">Turn development time into a competitive advantage</h2>
    <p class="is-big wow slideInUp">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A perferendis quos aliquid, sit impedit possimus magni eum! Aut, aliquam, distinctio nesciunt illo, obcaecati atque soluta facilis accusantium numquam, nisi delectus.</p>
  </div>
</section>
<section class="hero has-text-centered">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column wow slideInLeft">
          <figure class="image is-4by3">
            <img src="{{'assets/images/responsive-website-top.png'|theme}}" class="hvr-grow">
          </figure>
        </div>
        <div class="column wow slideInRight">
          <figure class="image is-4by3">
            <img src="{{'assets/images/octobercms-theme-free.png'|theme}}" class="hvr-grow">
          </figure>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="hero is-medium">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column is-4 wow slideInLeft">
          <ks-card icon="users" title="Ready to rock your users" subtitle="A perfect theme to use in every development."></ks-card>
        </div>
        <div class="column is-4 wow slideInUp">
          <ks-card icon="shield" title="Super secured" subtitle="Laravel powered with a great ecosystem."></ks-card>
        </div>
        <div class="column is-4 wow slideInRight">
          <ks-card icon="desktop" title="First mobile" subtitle="Designed with mobile first in mind"></ks-card>
        </div>
      </div>
      <div class="columns">
        <div class="column is-6 wow slideInLeft">
          <ks-card icon="html5" title="Fast development" subtitle="Built by a developper for developpers"></ks-card>
        </div>
        <div class="column is-6 wow slideInRight">
          <ks-card icon="code" title="Easy installation" subtitle="Easier to install than laravel, upload and run!."></ks-card>
        </div>
      </div>
    </div>
  </div>
</section>

<script type="text/x-template" id="hello-world-template">
  <p>Hello hello hello</p>
</script>
