description = "Home page Header partial"
==
<div class="hero-body">
  <div class="container has-text-centered">
    <div class="columns is-vcentered">
      <div class="column is-5">
        <figure class="image is-4by3">
          <img src="https://images.unsplash.com/photo-1461669802687-84a1aee43a29?dpr=1&auto=format&crop=entropy&fit=crop&w=800&h=600&q=80" class="promo-img" alt="Description">
        </figure>
      </div>
      <div class="column is-6 is-offset-1">
        <h1 class="title is-2">
          Introducing Landing Page
        </h1>
        <h2 class="subtitle is-4">
          It's time to say hello to bulma.
        </h2>
        <br>
        <p class="control has-addons has-text-centered">
          <input class="input is-expanded is-large" type="text" placeholder="Join the beta waitlist, you@example.org">
          <a class="button is-large is-danger is-outlined">
            Sign Up
          </a>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="hero-foot">
  <div class="container">
    <div class="tabs is-centered">
      <ul>
        <li><a href="http://bulma.io">Made with bulma</a></li>
        <li><a>Copyright 2016 Bulma</a></li>
        <li><a href="http://unsplash.com">Images via unsplash</a></li>
      </ul>
    </div>
  </div>
</div>
