description = "Footer Navigation partial"
==
<div class="columns">
  <div class="column">
    <h4 class="title is-6">Page examples</h4>
    <ul>
      {% for element in this.theme.config.pagesExamples %}
      <li><a href="/page-examples/{{element}}" class="{% if show_element == element %} active{% endif %}">{{str_studly(element)}}</a></li>
      {% endfor %}
    </ul>
  </div>
  <div class="column">
    <h4 class="title is-6">Html &amp; CSS Elements</h4>
    <ul>
      {% for element in this.theme.config.elements %}
      <li><a href="/elements/{{element}}" class="{% if show_element == element %} active{% endif %}">{{str_studly(element)}}</a></li>
      {% endfor %}
    </ul>
  </div>
  <div class="column">
    <h4 class="title is-6">VueJs Elements</h4>
    <ul>
    {% for component in this.theme.config.buefyEl %}
    <li><a href="/components/{{component}}" class="{% if show_element == component %} active{% endif %}">{{str_studly(component)}}</a></li>
    {% endfor %}
    </ul>
  </div>
  <div class="column">
    <h4 class="title is-6">Our partners</h4>
    <figure class="image is-128x128">
      <img src="http://bulma.io/images/placeholders/256x256.png">
    </figure>
  </div>
</div>
