description = "Navigation partial"
==
<nav class="nav">
  <div class="container">
    <div class="nav-left">
      <a class="nav-item" href="../index.html">
        <img src="{{ 'assets/images/bulma-white.png'|theme }}" alt="{{ this.theme.site_name }}">
      </a>
    </div>
    <span class="nav-toggle">
      <span></span>
      <span></span>
      <span></span>
    </span>
    <div class="nav-right nav-menu">
      <a class="nav-item">
        About
      </a>
      <a class="nav-item">
        Tour
      </a>
      <a class="nav-item">
        FAQ
      </a>
      <a class="nav-item">
        Contact
      </a>
      <span class="nav-item">
        <a class="button is-default">
          Get Early Access
        </a>
      </span>
    </div>
  </div>
</nav>
